[Unit]
Description=csphere
Requires=docker.socket
After=docker.socket

[Service]
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c 'IMAGE="csphere/csphere:0.12.3" && docker history $IMAGE >/dev/null 2>&1 || flock -w 1200 /var/run/lock/csphere-pull docker pull $IMAGE'
ExecStartPre=-/bin/sh -c "mkdir -p /data/csphere"
ExecStartPre=/bin/sh -c "docker inspect csphere-controller >/dev/null 2>&1 && docker rm -f csphere-controller >/dev/null 2>&1 || true"
ExecStart=/bin/sh -c 'IMAGE="csphere/csphere:0.12.3" && docker run --name=csphere-controller -v /data/csphere:/data:rw -p 1016:80 -e ROLE=controller -e AUTH_KEY==`etcdctl get /hehe/services/csphere/authkey`  -l CSPHERE_ROLE=controller $IMAGE'
ExecStop=-/usr/bin/docker stop csphere-controller
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=csphere*
