[Unit]
Description=Datadog
Requires=docker.socket
After=docker.socket

[Service]
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/dd-agent` && docker history $IMAGE >/dev/null 2>&1 || flock -w 1200 /var/run/lock/datadog-pull docker pull $IMAGE"
ExecStartPre=/bin/sh -c "docker inspect deis-dd-agent >/dev/null 2>&1 && docker rm -f deis-dd-agent >/dev/null 2>&1 || true"
ExecStart=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/dd-agent` && docker run --privileged --name deis-dd-agent -h %H -v /var/run/docker.sock:/var/run/docker.sock -v /proc/:/host/proc/:ro -v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro -e API_KEY=`etcdctl get /hehe/services/datadog/apikey` $IMAGE"
ExecStop=-/usr/bin/docker stop deis-dd-agent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
